In [1]:
print('hello world!')

hello world!

In [2]:
'r i m o n'.split()

['r', 'i', 'm', 'o', 'n']

In [3]:
type("hi")

str

In [4]:
print("pandas numpy anaconda jupyter notebook")

pandas numpy anaconda jupyter notebook

In [5]:
2+3

5

In [6]:
import numpy as np
import pandas as pd

In [7]:
np.__version__

'1.26.4'

pd.__version__

In [8]:
pd.__version__

'2.2.2'

In [9]:
array_2d = np.arange(0, 100)
array_2d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [10]:
type(array_2d)

numpy.ndarray

In [11]:
array_2d = array_2d.reshape(10, 10)
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [12]:
ind = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'

In [13]:
ind

'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'

In [14]:
ind = ind.split()

In [15]:
ind

['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']

In [16]:
type(ind)

list

In [17]:
col = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'
col

'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'

In [18]:
col = col.split()
col

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

In [19]:
type(col)

list

In [20]:
df = pd.DataFrame(data=array_2d, index=ind, columns=col)
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [21]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [22]:
# sql query
df.c1

r1      0
r2     10
r3     20
r4     30
r5     40
r6     50
r7     60
r8     70
r9     80
r10    90
Name: c1, dtype: int32

In [23]:
df['c1']

r1      0
r2     10
r3     20
r4     30
r5     40
r6     50
r7     60
r8     70
r9     80
r10    90
Name: c1, dtype: int32

In [24]:
type(df['c1'])

pandas.core.series.Series

In [25]:
type(df.c1)

pandas.core.series.Series

In [26]:
df[['c1', 'c2']]

     c1  c2
r1    0   1
r2   10  11
r3   20  21
r4   30  31
r5   40  41
r6   50  51
r7   60  61
r8   70  71
r9   80  81
r10  90  91

In [27]:
type(df[['c1', 'c2']])

pandas.core.frame.DataFrame

In [28]:
df['c1']

r1      0
r2     10
r3     20
r4     30
r5     40
r6     50
r7     60
r8     70
r9     80
r10    90
Name: c1, dtype: int32

In [29]:
type(df['c1'])

pandas.core.series.Series

pandas.core.series.Series

In [30]:
df[['c1']]

     c1
r1    0
r2   10
r3   20
r4   30
r5   40
r6   50
r7   60
r8   70
r9   80
r10  90

In [31]:
type(df[['c1']])

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [32]:
df[['c1', 'c2']]

     c1  c2
r1    0   1
r2   10  11
r3   20  21
r4   30  31
r5   40  41
r6   50  51
r7   60  61
r8   70  71
r9   80  81
r10  90  91

In [33]:
df[['c1', 'c2', 'c5']]

     c1  c2  c5
r1    0   1   4
r2   10  11  14
r3   20  21  24
r4   30  31  34
r5   40  41  44
r6   50  51  54
r7   60  61  64
r8   70  71  74
r9   80  81  84
r10  90  91  94

In [34]:
df[['c5', 'c3']]

     c5  c3
r1    4   2
r2   14  12
r3   24  22
r4   34  32
r5   44  42
r6   54  52
r7   64  62
r8   74  72
r9   84  82
r10  94  92

In [35]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [36]:
# creating a new column in the dataframe
# at first we need to create a new series: df['new']
df['new'] = df['c1'] + df['c2']

In [37]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  new
r1    0   1   2   3   4   5   6   7   8    9    1
r2   10  11  12  13  14  15  16  17  18   19   21
r3   20  21  22  23  24  25  26  27  28   29   41
r4   30  31  32  33  34  35  36  37  38   39   61
r5   40  41  42  43  44  45  46  47  48   49   81
r6   50  51  52  53  54  55  56  57  58   59  101
r7   60  61  62  63  64  65  66  67  68   69  121
r8   70  71  72  73  74  75  76  77  78   79  141
r9   80  81  82  83  84  85  86  87  88   89  161
r10  90  91  92  93  94  95  96  97  98   99  181

In [38]:
# if column found, then it will replace the data
df['new'] = 'A'

In [39]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new
r1    0   1   2   3   4   5   6   7   8    9   A
r2   10  11  12  13  14  15  16  17  18   19   A
r3   20  21  22  23  24  25  26  27  28   29   A
r4   30  31  32  33  34  35  36  37  38   39   A
r5   40  41  42  43  44  45  46  47  48   49   A
r6   50  51  52  53  54  55  56  57  58   59   A
r7   60  61  62  63  64  65  66  67  68   69   A
r8   70  71  72  73  74  75  76  77  78   79   A
r9   80  81  82  83  84  85  86  87  88   89   A
r10  90  91  92  93  94  95  96  97  98   99   A

In [40]:
df['new'] = 'B'

In [41]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new
r1    0   1   2   3   4   5   6   7   8    9   B
r2   10  11  12  13  14  15  16  17  18   19   B
r3   20  21  22  23  24  25  26  27  28   29   B
r4   30  31  32  33  34  35  36  37  38   39   B
r5   40  41  42  43  44  45  46  47  48   49   B
r6   50  51  52  53  54  55  56  57  58   59   B
r7   60  61  62  63  64  65  66  67  68   69   B
r8   70  71  72  73  74  75  76  77  78   79   B
r9   80  81  82  83  84  85  86  87  88   89   B
r10  90  91  92  93  94  95  96  97  98   99   B

In [42]:
df.new = 'A'
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new
r1    0   1   2   3   4   5   6   7   8    9   A
r2   10  11  12  13  14  15  16  17  18   19   A
r3   20  21  22  23  24  25  26  27  28   29   A
r4   30  31  32  33  34  35  36  37  38   39   A
r5   40  41  42  43  44  45  46  47  48   49   A
r6   50  51  52  53  54  55  56  57  58   59   A
r7   60  61  62  63  64  65  66  67  68   69   A
r8   70  71  72  73  74  75  76  77  78   79   A
r9   80  81  82  83  84  85  86  87  88   89   A
r10  90  91  92  93  94  95  96  97  98   99   A

In [43]:
df.new2 = 'B'
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new
r1    0   1   2   3   4   5   6   7   8    9   A
r2   10  11  12  13  14  15  16  17  18   19   A
r3   20  21  22  23  24  25  26  27  28   29   A
r4   30  31  32  33  34  35  36  37  38   39   A
r5   40  41  42  43  44  45  46  47  48   49   A
r6   50  51  52  53  54  55  56  57  58   59   A
r7   60  61  62  63  64  65  66  67  68   69   A
r8   70  71  72  73  74  75  76  77  78   79   A
r9   80  81  82  83  84  85  86  87  88   89   A
r10  90  91  92  93  94  95  96  97  98   99   A

In [44]:
df['new2'] = 'B'
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [45]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [46]:
new_col = 'D'
df.insert(loc = 4, column = 'C33', value = new_col)
df

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [47]:
new_row = 'new_row'

df.insert(loc = 8, column = 'R10', value = new_row)

df

     c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  new_row  97  98   99   A    B

In [48]:
df

     c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  new_row  97  98   99   A    B

In [49]:
df

     c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  new_row  97  98   99   A    B

In [50]:
df.drop('r10')

    c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1   0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2  10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3  20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4  30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5  40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6  50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7  60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8  70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9  80  81  82  83   D  84  85  86  new_row  87  88   89   A    B

In [51]:
df

     c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  new_row  97  98   99   A    B

In [52]:
df.drop('r10', axis=0)

    c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1   0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2  10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3  20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4  30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5  40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6  50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7  60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8  70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9  80  81  82  83   D  84  85  86  new_row  87  88   89   A    B

In [53]:
df

     c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  new_row  97  98   99   A    B

In [54]:
df.drop('R10', axis=1)

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

In [55]:
df

     c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  new_row  97  98   99   A    B

In [56]:
df.drop('C33', axis=1)

     c1  c2  c3  c4  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93  94  95  96  new_row  97  98   99   A    B

In [57]:
df

     c1  c2  c3  c4 C33  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  new_row  97  98   99   A    B

In [58]:
df.drop('C33', axis=1, inplace=True)

In [59]:
df

     c1  c2  c3  c4  c5  c6  c7      R10  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6  new_row   7   8    9   A    B
r2   10  11  12  13  14  15  16  new_row  17  18   19   A    B
r3   20  21  22  23  24  25  26  new_row  27  28   29   A    B
r4   30  31  32  33  34  35  36  new_row  37  38   39   A    B
r5   40  41  42  43  44  45  46  new_row  47  48   49   A    B
r6   50  51  52  53  54  55  56  new_row  57  58   59   A    B
r7   60  61  62  63  64  65  66  new_row  67  68   69   A    B
r8   70  71  72  73  74  75  76  new_row  77  78   79   A    B
r9   80  81  82  83  84  85  86  new_row  87  88   89   A    B
r10  90  91  92  93  94  95  96  new_row  97  98   99   A    B

In [60]:
df.drop('new2', axis=1, inplace=True)

In [61]:
df

     c1  c2  c3  c4  c5  c6  c7      R10  c8  c9  c10 new
r1    0   1   2   3   4   5   6  new_row   7   8    9   A
r2   10  11  12  13  14  15  16  new_row  17  18   19   A
r3   20  21  22  23  24  25  26  new_row  27  28   29   A
r4   30  31  32  33  34  35  36  new_row  37  38   39   A
r5   40  41  42  43  44  45  46  new_row  47  48   49   A
r6   50  51  52  53  54  55  56  new_row  57  58   59   A
r7   60  61  62  63  64  65  66  new_row  67  68   69   A
r8   70  71  72  73  74  75  76  new_row  77  78   79   A
r9   80  81  82  83  84  85  86  new_row  87  88   89   A
r10  90  91  92  93  94  95  96  new_row  97  98   99   A

In [62]:
df.drop('new', axis=1, inplace=True)

In [63]:
df

     c1  c2  c3  c4  c5  c6  c7      R10  c8  c9  c10
r1    0   1   2   3   4   5   6  new_row   7   8    9
r2   10  11  12  13  14  15  16  new_row  17  18   19
r3   20  21  22  23  24  25  26  new_row  27  28   29
r4   30  31  32  33  34  35  36  new_row  37  38   39
r5   40  41  42  43  44  45  46  new_row  47  48   49
r6   50  51  52  53  54  55  56  new_row  57  58   59
r7   60  61  62  63  64  65  66  new_row  67  68   69
r8   70  71  72  73  74  75  76  new_row  77  78   79
r9   80  81  82  83  84  85  86  new_row  87  88   89
r10  90  91  92  93  94  95  96  new_row  97  98   99

In [64]:
df.drop('R10', axis=1)

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [65]:
df

     c1  c2  c3  c4  c5  c6  c7      R10  c8  c9  c10
r1    0   1   2   3   4   5   6  new_row   7   8    9
r2   10  11  12  13  14  15  16  new_row  17  18   19
r3   20  21  22  23  24  25  26  new_row  27  28   29
r4   30  31  32  33  34  35  36  new_row  37  38   39
r5   40  41  42  43  44  45  46  new_row  47  48   49
r6   50  51  52  53  54  55  56  new_row  57  58   59
r7   60  61  62  63  64  65  66  new_row  67  68   69
r8   70  71  72  73  74  75  76  new_row  77  78   79
r9   80  81  82  83  84  85  86  new_row  87  88   89
r10  90  91  92  93  94  95  96  new_row  97  98   99

In [66]:
df.drop('R10', axis=1, inplace=True)

In [67]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [68]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [69]:
# Rows
# we can retrieve a row by its name or position with loc and iloc
# loc - access a group of rows and columns by label(s)

In [70]:
df.loc[['r1', 'r2', 'r3']]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   0   1   2   3   4   5   6   7   8    9
r2  10  11  12  13  14  15  16  17  18   19
r3  20  21  22  23  24  25  26  27  28   29

In [71]:
df.loc[['r2']]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r2  10  11  12  13  14  15  16  17  18   19

In [72]:
# explicit index
df.loc[['r1']] # index of r1 is 0

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   0   1   2   3   4   5   6   7   8    9

In [73]:
# implicit index
# if we want to see the seecond row, we can use iloc instead of loc
df.iloc[[1]] # index of r2 is 1

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r2  10  11  12  13  14  15  16  17  18   19

In [74]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [75]:
# first give the row number, then the column number
df.loc['r1', 'c1']

0

In [76]:
# first give the row number, then the column number
df.loc['r2', 'c2']

11

In [77]:
# first give the row number, then the column number
df.loc['r10', 'c10']

99

In [78]:
df.loc[['r1', 'r2'], ['c1', 'c2']]

    c1  c2
r1   0   1
r2  10  11

In [79]:
df.loc[['r2', 'r5'], ['c3', 'c4']]

    c3  c4
r2  12  13
r5  42  43

In [80]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [81]:
# limited row
df.iloc[0:3]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   0   1   2   3   4   5   6   7   8    9
r2  10  11  12  13  14  15  16  17  18   19
r3  20  21  22  23  24  25  26  27  28   29

In [82]:
# limited row
df.iloc[1:5]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r2  10  11  12  13  14  15  16  17  18   19
r3  20  21  22  23  24  25  26  27  28   29
r4  30  31  32  33  34  35  36  37  38   39
r5  40  41  42  43  44  45  46  47  48   49

In [83]:
# limited row, limited column
df.iloc[0:3, 0:7]

    c1  c2  c3  c4  c5  c6  c7
r1   0   1   2   3   4   5   6
r2  10  11  12  13  14  15  16
r3  20  21  22  23  24  25  26

In [84]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [85]:
df > 5

        c1     c2     c3     c4     c5     c6    c7    c8    c9   c10
r1   False  False  False  False  False  False  True  True  True  True
r2    True   True   True   True   True   True  True  True  True  True
r3    True   True   True   True   True   True  True  True  True  True
r4    True   True   True   True   True   True  True  True  True  True
r5    True   True   True   True   True   True  True  True  True  True
r6    True   True   True   True   True   True  True  True  True  True
r7    True   True   True   True   True   True  True  True  True  True
r8    True   True   True   True   True   True  True  True  True  True
r9    True   True   True   True   True   True  True  True  True  True
r10   True   True   True   True   True   True  True  True  True  True

In [86]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [87]:
df + 5

     c1  c2  c3  c4  c5   c6   c7   c8   c9  c10
r1    5   6   7   8   9   10   11   12   13   14
r2   15  16  17  18  19   20   21   22   23   24
r3   25  26  27  28  29   30   31   32   33   34
r4   35  36  37  38  39   40   41   42   43   44
r5   45  46  47  48  49   50   51   52   53   54
r6   55  56  57  58  59   60   61   62   63   64
r7   65  66  67  68  69   70   71   72   73   74
r8   75  76  77  78  79   80   81   82   83   84
r9   85  86  87  88  89   90   91   92   93   94
r10  95  96  97  98  99  100  101  102  103  104

In [88]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [89]:
df > 5

        c1     c2     c3     c4     c5     c6    c7    c8    c9   c10
r1   False  False  False  False  False  False  True  True  True  True
r2    True   True   True   True   True   True  True  True  True  True
r3    True   True   True   True   True   True  True  True  True  True
r4    True   True   True   True   True   True  True  True  True  True
r5    True   True   True   True   True   True  True  True  True  True
r6    True   True   True   True   True   True  True  True  True  True
r7    True   True   True   True   True   True  True  True  True  True
r8    True   True   True   True   True   True  True  True  True  True
r9    True   True   True   True   True   True  True  True  True  True
r10   True   True   True   True   True   True  True  True  True  True

In [90]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [91]:
bool_mask = df % 3 == 0
bool_mask

        c1     c2     c3     c4     c5     c6     c7     c8     c9    c10
r1    True  False  False   True  False  False   True  False  False   True
r2   False  False   True  False  False   True  False  False   True  False
r3   False   True  False  False   True  False  False   True  False  False
r4    True  False  False   True  False  False   True  False  False   True
r5   False  False   True  False  False   True  False  False   True  False
r6   False   True  False  False   True  False  False   True  False  False
r7    True  False  False   True  False  False   True  False  False   True
r8   False  False   True  False  False   True  False  False   True  False
r9   False   True  False  False   True  False  False   True  False  False
r10   True  False  False   True  False  False   True  False  False   True

In [92]:
# true values will be present in the dataframe, but false values will be NaN (Null) in the dataframe.
df[bool_mask]

       c1    c2    c3    c4    c5    c6    c7    c8    c9   c10
r1    0.0   NaN   NaN   3.0   NaN   NaN   6.0   NaN   NaN   9.0
r2    NaN   NaN  12.0   NaN   NaN  15.0   NaN   NaN  18.0   NaN
r3    NaN  21.0   NaN   NaN  24.0   NaN   NaN  27.0   NaN   NaN
r4   30.0   NaN   NaN  33.0   NaN   NaN  36.0   NaN   NaN  39.0
r5    NaN   NaN  42.0   NaN   NaN  45.0   NaN   NaN  48.0   NaN
r6    NaN  51.0   NaN   NaN  54.0   NaN   NaN  57.0   NaN   NaN
r7   60.0   NaN   NaN  63.0   NaN   NaN  66.0   NaN   NaN  69.0
r8    NaN   NaN  72.0   NaN   NaN  75.0   NaN   NaN  78.0   NaN
r9    NaN  81.0   NaN   NaN  84.0   NaN   NaN  87.0   NaN   NaN
r10  90.0   NaN   NaN  93.0   NaN   NaN  96.0   NaN   NaN  99.0

In [93]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [94]:
# larger than 11 from the dataframe
df[df['c1'] > 11]

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [95]:
# larger than 11 from the dataframe, but specific column
df[df['c1'] > 11][['c1', 'c2']]

     c1  c2
r3   20  21
r4   30  31
r5   40  41
r6   50  51
r7   60  61
r8   70  71
r9   80  81
r10  90  91

In [96]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [97]:
# showing the specific column from the dataframe using condition
df[df['c1'] > 11][['c3', 'c10']]

     c3  c10
r3   22   29
r4   32   39
r5   42   49
r6   52   59
r7   62   69
r8   72   79
r9   82   89
r10  92   99

In [98]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [99]:
# double condition using and (&) operator
result = df[(df['c1']>11) & (df['c1'] < 80)]
result

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r3  20  21  22  23  24  25  26  27  28   29
r4  30  31  32  33  34  35  36  37  38   39
r5  40  41  42  43  44  45  46  47  48   49
r6  50  51  52  53  54  55  56  57  58   59
r7  60  61  62  63  64  65  66  67  68   69
r8  70  71  72  73  74  75  76  77  78   79

In [100]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [101]:
df[(df['c1'] > 60) & (df['c1'] < 80)]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r8  70  71  72  73  74  75  76  77  78   79

In [102]:
df[(df['c1'] > 60) & (df['c1'] < 80)][['c1', 'c6']]

    c1  c6
r8  70  75

In [103]:
df[(df['c1'] > 60) & (df['c1'] < 80)][['c2','c4']]

    c2  c4
r8  71  73

In [104]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [105]:
df[(df['c1'] > 60) & (df['c1'] > 80)]

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r10  90  91  92  93  94  95  96  97  98   99

In [106]:
df[(df['c1'] > 60) & (df['c2'] > 80)]

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [107]:
df[(df['c1'] > 60) | (df['c2'] > 80)]

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [108]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [109]:
df[df['c1'] > 11]

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [110]:
# larger than 11 but only limited row(r3, r4)
df[df['c1'] > 11].loc[['r3', 'r4']]

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r3  20  21  22  23  24  25  26  27  28   29
r4  30  31  32  33  34  35  36  37  38   39

In [111]:
# larger than 11 but only limited row(r3, r4)

# df[df['c1'] > 11].loc[['r1', 'r2']]

# this line of code will show error
# KeyError: "None of [Index(['r1', 'r2'], dtype='object')] are in the [index]"

In [112]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [113]:
df.reset_index()

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [114]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [115]:
df.reset_index(inplace=True)

In [116]:
df

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [117]:
df.set_index('index')

       c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
index
r1      0   1   2   3   4   5   6   7   8    9
r2     10  11  12  13  14  15  16  17  18   19
r3     20  21  22  23  24  25  26  27  28   29
r4     30  31  32  33  34  35  36  37  38   39
r5     40  41  42  43  44  45  46  47  48   49
r6     50  51  52  53  54  55  56  57  58   59
r7     60  61  62  63  64  65  66  67  68   69
r8     70  71  72  73  74  75  76  77  78   79
r9     80  81  82  83  84  85  86  87  88   89
r10    90  91  92  93  94  95  96  97  98   99

In [118]:
df

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [119]:
df.reset_index()

   level_0 index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0        0    r1   0   1   2   3   4   5   6   7   8    9
1        1    r2  10  11  12  13  14  15  16  17  18   19
2        2    r3  20  21  22  23  24  25  26  27  28   29
3        3    r4  30  31  32  33  34  35  36  37  38   39
4        4    r5  40  41  42  43  44  45  46  47  48   49
5        5    r6  50  51  52  53  54  55  56  57  58   59
6        6    r7  60  61  62  63  64  65  66  67  68   69
7        7    r8  70  71  72  73  74  75  76  77  78   79
8        8    r9  80  81  82  83  84  85  86  87  88   89
9        9   r10  90  91  92  93  94  95  96  97  98   99

In [120]:
df.reset_index(inplace=True)

In [121]:
df

   level_0 index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0        0    r1   0   1   2   3   4   5   6   7   8    9
1        1    r2  10  11  12  13  14  15  16  17  18   19
2        2    r3  20  21  22  23  24  25  26  27  28   29
3        3    r4  30  31  32  33  34  35  36  37  38   39
4        4    r5  40  41  42  43  44  45  46  47  48   49
5        5    r6  50  51  52  53  54  55  56  57  58   59
6        6    r7  60  61  62  63  64  65  66  67  68   69
7        7    r8  70  71  72  73  74  75  76  77  78   79
8        8    r9  80  81  82  83  84  85  86  87  88   89
9        9   r10  90  91  92  93  94  95  96  97  98   99

In [122]:
df.drop('level_0', axis=1)

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [123]:
df

   level_0 index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0        0    r1   0   1   2   3   4   5   6   7   8    9
1        1    r2  10  11  12  13  14  15  16  17  18   19
2        2    r3  20  21  22  23  24  25  26  27  28   29
3        3    r4  30  31  32  33  34  35  36  37  38   39
4        4    r5  40  41  42  43  44  45  46  47  48   49
5        5    r6  50  51  52  53  54  55  56  57  58   59
6        6    r7  60  61  62  63  64  65  66  67  68   69
7        7    r8  70  71  72  73  74  75  76  77  78   79
8        8    r9  80  81  82  83  84  85  86  87  88   89
9        9   r10  90  91  92  93  94  95  96  97  98   99

In [124]:
df.drop('level_0', axis=1, inplace=True)

In [125]:
df

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [126]:
df.set_index('c1')

   index  c2  c3  c4  c5  c6  c7  c8  c9  c10
c1
0     r1   1   2   3   4   5   6   7   8    9
10    r2  11  12  13  14  15  16  17  18   19
20    r3  21  22  23  24  25  26  27  28   29
30    r4  31  32  33  34  35  36  37  38   39
40    r5  41  42  43  44  45  46  47  48   49
50    r6  51  52  53  54  55  56  57  58   59
60    r7  61  62  63  64  65  66  67  68   69
70    r8  71  72  73  74  75  76  77  78   79
80    r9  81  82  83  84  85  86  87  88   89
90   r10  91  92  93  94  95  96  97  98   99

In [127]:
df

  index  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
0    r1   0   1   2   3   4   5   6   7   8    9
1    r2  10  11  12  13  14  15  16  17  18   19
2    r3  20  21  22  23  24  25  26  27  28   29
3    r4  30  31  32  33  34  35  36  37  38   39
4    r5  40  41  42  43  44  45  46  47  48   49
5    r6  50  51  52  53  54  55  56  57  58   59
6    r7  60  61  62  63  64  65  66  67  68   69
7    r8  70  71  72  73  74  75  76  77  78   79
8    r9  80  81  82  83  84  85  86  87  88   89
9   r10  90  91  92  93  94  95  96  97  98   99

In [128]:
df.set_index('c1', inplace=True)

In [129]:
df

   index  c2  c3  c4  c5  c6  c7  c8  c9  c10
c1
0     r1   1   2   3   4   5   6   7   8    9
10    r2  11  12  13  14  15  16  17  18   19
20    r3  21  22  23  24  25  26  27  28   29
30    r4  31  32  33  34  35  36  37  38   39
40    r5  41  42  43  44  45  46  47  48   49
50    r6  51  52  53  54  55  56  57  58   59
60    r7  61  62  63  64  65  66  67  68   69
70    r8  71  72  73  74  75  76  77  78   79
80    r9  81  82  83  84  85  86  87  88   89
90   r10  91  92  93  94  95  96  97  98   99

In [130]:
df.set_index('c2', inplace=True)

In [131]:
df

   index  c3  c4  c5  c6  c7  c8  c9  c10
c2
1     r1   2   3   4   5   6   7   8    9
11    r2  12  13  14  15  16  17  18   19
21    r3  22  23  24  25  26  27  28   29
31    r4  32  33  34  35  36  37  38   39
41    r5  42  43  44  45  46  47  48   49
51    r6  52  53  54  55  56  57  58   59
61    r7  62  63  64  65  66  67  68   69
71    r8  72  73  74  75  76  77  78   79
81    r9  82  83  84  85  86  87  88   89
91   r10  92  93  94  95  96  97  98   99

In [132]:
df.reset_index(inplace=True)

In [133]:
df

   c2 index  c3  c4  c5  c6  c7  c8  c9  c10
0   1    r1   2   3   4   5   6   7   8    9
1  11    r2  12  13  14  15  16  17  18   19
2  21    r3  22  23  24  25  26  27  28   29
3  31    r4  32  33  34  35  36  37  38   39
4  41    r5  42  43  44  45  46  47  48   49
5  51    r6  52  53  54  55  56  57  58   59
6  61    r7  62  63  64  65  66  67  68   69
7  71    r8  72  73  74  75  76  77  78   79
8  81    r9  82  83  84  85  86  87  88   89
9  91   r10  92  93  94  95  96  97  98   99

In [134]:
df.reset_index(inplace=True)
df

   level_0  c2 index  c3  c4  c5  c6  c7  c8  c9  c10
0        0   1    r1   2   3   4   5   6   7   8    9
1        1  11    r2  12  13  14  15  16  17  18   19
2        2  21    r3  22  23  24  25  26  27  28   29
3        3  31    r4  32  33  34  35  36  37  38   39
4        4  41    r5  42  43  44  45  46  47  48   49
5        5  51    r6  52  53  54  55  56  57  58   59
6        6  61    r7  62  63  64  65  66  67  68   69
7        7  71    r8  72  73  74  75  76  77  78   79
8        8  81    r9  82  83  84  85  86  87  88   89
9        9  91   r10  92  93  94  95  96  97  98   99

In [135]:
df

   level_0  c2 index  c3  c4  c5  c6  c7  c8  c9  c10
0        0   1    r1   2   3   4   5   6   7   8    9
1        1  11    r2  12  13  14  15  16  17  18   19
2        2  21    r3  22  23  24  25  26  27  28   29
3        3  31    r4  32  33  34  35  36  37  38   39
4        4  41    r5  42  43  44  45  46  47  48   49
5        5  51    r6  52  53  54  55  56  57  58   59
6        6  61    r7  62  63  64  65  66  67  68   69
7        7  71    r8  72  73  74  75  76  77  78   79
8        8  81    r9  82  83  84  85  86  87  88   89
9        9  91   r10  92  93  94  95  96  97  98   99

In [136]:
df.set_index('index', inplace=True)

In [137]:
df

       level_0  c2  c3  c4  c5  c6  c7  c8  c9  c10
index
r1           0   1   2   3   4   5   6   7   8    9
r2           1  11  12  13  14  15  16  17  18   19
r3           2  21  22  23  24  25  26  27  28   29
r4           3  31  32  33  34  35  36  37  38   39
r5           4  41  42  43  44  45  46  47  48   49
r6           5  51  52  53  54  55  56  57  58   59
r7           6  61  62  63  64  65  66  67  68   69
r8           7  71  72  73  74  75  76  77  78   79
r9           8  81  82  83  84  85  86  87  88   89
r10          9  91  92  93  94  95  96  97  98   99

In [138]:
df.drop('level_0', axis=1, inplace=True)

In [139]:
df

       c2  c3  c4  c5  c6  c7  c8  c9  c10
index
r1      1   2   3   4   5   6   7   8    9
r2     11  12  13  14  15  16  17  18   19
r3     21  22  23  24  25  26  27  28   29
r4     31  32  33  34  35  36  37  38   39
r5     41  42  43  44  45  46  47  48   49
r6     51  52  53  54  55  56  57  58   59
r7     61  62  63  64  65  66  67  68   69
r8     71  72  73  74  75  76  77  78   79
r9     81  82  83  84  85  86  87  88   89
r10    91  92  93  94  95  96  97  98   99

In [140]:
type(df)

pandas.core.frame.DataFrame

In [141]:
len(df)

10

In [142]:
df.dtypes

c2     int32
c3     int32
c4     int32
c5     int32
c6     int32
c7     int32
c8     int32
c9     int32
c10    int32
dtype: object

In [143]:
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [144]:
col

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

In [145]:
ind

['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']

In [146]:
df = pd.DataFrame(data = array_2d, index = ind, columns = col)

In [147]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [148]:
abc = 'a b c d e f g h i j'
abc

'a b c d e f g h i j'

In [149]:
type(abc)

str

In [150]:
abc = abc.split()
abc

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [151]:
type(abc)

list

In [152]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, r1 to r10
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      10 non-null     int32
 1   c2      10 non-null     int32
 2   c3      10 non-null     int32
 3   c4      10 non-null     int32
 4   c5      10 non-null     int32
 5   c6      10 non-null     int32
 6   c7      10 non-null     int32
 7   c8      10 non-null     int32
 8   c9      10 non-null     int32
 9   c10     10 non-null     int32
dtypes: int32(10)
memory usage: 480.0+ bytes

In [154]:
df.head()

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   0   1   2   3   4   5   6   7   8    9
r2  10  11  12  13  14  15  16  17  18   19
r3  20  21  22  23  24  25  26  27  28   29
r4  30  31  32  33  34  35  36  37  38   39
r5  40  41  42  43  44  45  46  47  48   49

In [155]:
df.tail()

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [156]:
df.head(2)

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   0   1   2   3   4   5   6   7   8    9
r2  10  11  12  13  14  15  16  17  18   19

In [157]:
df.tail(3)

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, r1 to r10
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      10 non-null     int32
 1   c2      10 non-null     int32
 2   c3      10 non-null     int32
 3   c4      10 non-null     int32
 4   c5      10 non-null     int32
 5   c6      10 non-null     int32
 6   c7      10 non-null     int32
 7   c8      10 non-null     int32
 8   c9      10 non-null     int32
 9   c10     10 non-null     int32
dtypes: int32(10)
memory usage: 480.0+ bytes

In [159]:
df.describe()

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,45.000000,46.000000,47.000000,48.000000,49.000000,50.000000,51.000000,52.000000,53.000000,54.000000
std,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504,30.276504
min,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000
25%,22.500000,23.500000,24.500000,25.500000,26.500000,27.500000,28.500000,29.500000,30.500000,31.500000
50%,45.000000,46.000000,47.000000,48.000000,49.000000,50.000000,51.000000,52.000000,53.000000,54.000000
75%,67.500000,68.500000,69.500000,70.500000,71.500000,72.500000,73.500000,74.500000,75.500000,76.500000
max,90.000000,91.000000,92.000000,93.000000,94.000000,95.000000,96.000000,97.000000,98.000000,99.000000

In [160]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99