In [9]:
# this is my_extra_panda
# youtube channel name: great learning
# video url: https://www.youtube.com/watch?v=npwZyO_Aaas&t=360s

In [10]:
import numpy as np
import pandas as pd

In [11]:
np.__version__

'1.26.4'

In [12]:
pd.__version__

'2.2.2'

In [13]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [14]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
type(s)

pandas.core.series.Series

In [16]:
s.dtype

dtype('float64')

In [17]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [18]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [19]:
dates = pd.date_range('20130101', periods=6)

In [20]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [26]:
df = pd.DataFrame(data=np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [27]:
df

                   A         B         C         D
2013-01-01  0.020829  0.272610 -0.421459 -0.460908
2013-01-02 -1.072642 -1.419547 -0.347357 -1.220248
2013-01-03  0.521290 -1.063987  1.639288 -0.128598
2013-01-04  0.342208 -0.316762  0.448055  2.275828
2013-01-05  0.525754  2.221087 -0.319305  1.278885
2013-01-06  0.018213 -0.148857 -1.441006  1.102081

In [35]:
type(df)

pandas.core.frame.DataFrame