In [1]:
%%html
<h3>Pandas Code</h3>

In [2]:
# Different ways of creating dataframe
# using csv
# using excel
# using dictionary
# using tuples list
# using list of dictionaries

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.3'

In [5]:
# using csv
df = pd.read_csv('climate_data.csv')

In [6]:
df

      day  temperature  windspeed   event
0  1/1/23           27          3  Cloudy
1  1/2/23           31          6   Rainy
2  1/3/23           34          9   Sunny

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
pd.__version__

'2.2.3'

In [9]:
df

      day  temperature  windspeed   event
0  1/1/23           27          3  Cloudy
1  1/2/23           31          6   Rainy
2  1/3/23           34          9   Sunny

In [10]:
# Install Required Dependency: If you're using .xlsx files, install openpyxl:
# From a Jupyter Notebook: If you're using Jupyter Notebook, prefix the command with !:
# 
# 
# !pip install openpyxl
# 
# 
# If you're using .xls files, install xlrd:
# pip install xlrd

In [11]:
# using excel
df = pd.read_excel("climate_data.xlsx", "Sheet1")
df

         day  temperature  windspeed   event
0 2023-01-01           27          3  Cloudy
1 2023-01-02           31          6   Rainy
2 2023-01-03           34          9   Sunny

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
# using dictionary

In [14]:
climate_data = {
    'day': ['1/1/23','1/2/23','1/3/23'],
    'temperature': [27,31,34],
    'windspeed': [3,6,9],
    'event': ['Cloudy','Rainy','Sunny']
}

In [15]:
df = pd.DataFrame(climate_data)

In [16]:
df

      day  temperature  windspeed   event
0  1/1/23           27          3  Cloudy
1  1/2/23           31          6   Rainy
2  1/3/23           34          9   Sunny

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
# using tuple list

In [19]:
climate_data = [
    ('1/1/23',27,3,'Cloudy'),
    ('1/2/23',31,6,'Rainy'),
    ('1/3/23',34,9,'Sunny')
]

In [20]:
type(climate_data)

list

In [21]:
df = pd.DataFrame(data=climate_data)

In [22]:
df

        0   1  2       3
0  1/1/23  27  3  Cloudy
1  1/2/23  31  6   Rainy
2  1/3/23  34  9   Sunny

In [23]:
df = pd.DataFrame(data=climate_data,index=['x','y','z'],columns=['day','temperature','windspeed','event'])

In [24]:
df

      day  temperature  windspeed   event
x  1/1/23           27          3  Cloudy
y  1/2/23           31          6   Rainy
z  1/3/23           34          9   Sunny

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
climate_data = [
    ('1/1/23',27,3,'Cloudy'),
    ('1/2/23',31,6,'Rainy'),
    ('1/3/23',34,9,'Sunny')
]

In [27]:
df = pd.DataFrame(data=climate_data,columns=['day','temperature','windspeed','event'])

In [28]:
df

      day  temperature  windspeed   event
0  1/1/23           27          3  Cloudy
1  1/2/23           31          6   Rainy
2  1/3/23           34          9   Sunny

In [29]:
climate_data = [
    {'day': '1/1/2023', 'temperature': 27, 'windspeed': 3, 'event': 'Cloudy'},
    {'day': '1/2/2023', 'temperature': 31, 'windspeed': 6, 'event': 'Rainy'},
    {'day': '1/3/2023', 'temperature': 34, 'windspeed': 9, 'event': 'Sunny'},
]

df = pd.DataFrame(data=climate_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed   event
0  1/1/2023           27          3  Cloudy
1  1/2/2023           31          6   Rainy
2  1/3/2023           34          9   Sunny