In [1]:
import numpy as np
np.__version__

'2.1.3'

In [2]:
import pandas as pd
pd.__version__

'2.2.3'

In [3]:
array = np.arange(16)
array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [4]:
array = array.reshape(4,4)
array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [5]:
pd.DataFrame(data=array)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df = pd.DataFrame(data=array, columns=['a', 'b', 'c', 'd'])
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
type(df)

pandas.core.frame.DataFrame