In [4]:
%%html
<h3>Handling Missing Data(Null Values)</h3>

In [5]:
import numpy as np
import pandas as pd

In [6]:
data_dic = {'A': [1, 2, None, 4, np.nan],
           'B': [np.nan, np.nan, np.nan, np.nan, np.nan],
           'C': [11, 12, 13, 14, 15],
           'D': [16, np.nan, 18, 19, 20]}

df = pd.DataFrame(data_dic)
df

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  NaN NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0