In [1]:
import numpy as np
import pandas as pd

In [2]:
data_dic = {'A': [1, 2, None, 4, np.nan],
           'B': [np.nan, np.nan, np.nan, np.nan, np.nan],
           'C': [11, 12, 13, 14, 15],
           'D': [16, np.nan, 18, 19, 20]}

df = pd.DataFrame(data_dic)
df

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  NaN NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0

In [7]:
# pip install scikit-learn
import sklearn
sklearn.__version__

'1.5.2'

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
df2 = df.copy()

In [10]:
df2

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  NaN NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0

In [11]:
imputer = SimpleImputer(strategy='constant', fill_value=-1)
df2['A'] = imputer.fit_transform(df2[['A']])
df2

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2 -1.0 NaN  13  18.0
3  4.0 NaN  14  19.0
4 -1.0 NaN  15  20.0

In [12]:
df2 = df.copy()

In [14]:
imputer = SimpleImputer(strategy='mean')
df2['A'] = imputer.fit_transform(df2[['A']])
df2

          A   B   C     D
0  1.000000 NaN  11  16.0
1  2.000000 NaN  12   NaN
2  2.333333 NaN  13  18.0
3  4.000000 NaN  14  19.0
4  2.333333 NaN  15  20.0